

@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

.sniglet-regular {
  font-family: "Sniglet", system-ui;

  font-style: normal;
}
body {
  font-family: Sniglet, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
}

.App {
  text-align: center;
}
.App__title {
  font-weight: normal;
}
.cell {
  border: 1px solid white;
  border-radius: 15px;
  background-color: #003748;
  width: 80px;
  height: 80px;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
}
.cell__image {

  max-width: 100%;
  max-height: 100%;
}
.cell.open {
  background-color: #fff; 
  border: 1px solid #003748;
  
}
.cell:hover {
  background-color: #ddd;
}
.row {
  margin-bottom: -1px;
}
.cell span {
  font-size: 50px;
  color: #FF5722;
  font-weight: 800;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
}

.toggle-button__indicator {
  content: '';
  position: absolute;
  top: 5px;
  bottom:5px;
  left: 5px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-button--active .toggle-button__indicator {
  left: calc(100% - 28px);
}

.toggle-button--active {
  background-color: #ff6b57;
}

.toggle-button--active .toggle-button__indicator {
  background-color: #fff;
}
@media screen and (max-width: 600px) {
  .cell {
    width: 60px;
    height: 60px;
  }

  .cell span {
    font-size: 40px;
  }
}

/* Adjust button size for smaller screens */
@media screen and (max-width: 400px) {
  .toggle-button {
    width: 40px;
    height: 20px;
  }

  .toggle-button__indicator {
    width: 14px;
    height: 14px;
  }
}